<div *ngIf="heroes.length>0; else sinHeores">    
    <p>Heroes</p>
    <ul>
        <li *ngFor="let heroe of heroes; let i=index">
            {{i}}-{{heroe}}
        </li>
    </ul>
    
    <button  (click)="borrarHeroe()">Borrar</button>
</div>
<ng-template #sinHeores>
    <div>
        No tiene Heores
    </div>
</ng-template>

<div *ngIf="heroesDelete.length>0">    
    <p>Heroes Borrados</p>
    <ul>
        <li *ngFor="let heroe of heroesDelete; let i=index">
            {{i}}-{{heroe}}
        </li>
    </ul>
</div>